
/* 최상단 로고 영역 */
.top_bar{background-color: #17294b!important;}
.menu_icon{color: #fff!important}
.user_icon_button{position: absolute; right: 20px;}


/* 좌측 메뉴 영역 */


/* 본문영역 공통 */
.v-application--wrap{background-color: #efefef;}
.v-main__wrap{padding: 30px 15px;}
.v-card{padding: 10px;}

.overflow_visible{overflow: visible;}
/* 마이페이지 */

/* 테이블 */
.v-data-table-header{background-color: #E3F2FD;}
* {-webkit-print-color-adjust:exact;}
.v-data-table > .v-data-table__wrapper > table > tbody > tr > td, .v-data-table > .v-data-table__wrapper > table > thead > tr > td, .v-data-table > .v-data-table__wrapper > table > tfoot > tr > td{
  font-size: 0.775rem!important;
}
.approve_title{background-color: #efefef; text-align: center; font-weight: bold; padding: 5px; border: 1px solid #cccccc;font-size: 0.875rem!important;}
.approve_text,
.v-data-table > .v-data-table__wrapper > table > tbody > tr > td.approve_text{padding: 5px 10px; border: 1px solid #cccccc;font-size: 0.875rem!important;}

.approve_list_title{border:1px solid #b7b7b7!important; background-color: #E3F2FD !important; font-size: 13px;}
.approve_list_title_border{border-left: 0px!important; border-bottom: 0px!important; }
.approve_list_name{border:1px solid #b7b7b7; border-left: 0px; border-bottom: 0px; font-size: 16px; height:45px; font-weight: bold;}
.approve_list_date{border:1px solid #b7b7b7; border-left: 0px;font-size: 10px;padding: 3px 0px;}
.doc_list_title{font-size : 17px; font-weight:bold; margin-bottom:8px}
.doc_detail_table{border-bottom:1px solid #cccccc; border-right:1px solid #cccccc; border-radius:0px;margin-bottom: 10px; width:100%; border-spacing: 0px;}
.doc_detail_table tr th,
.doc_detail_table tr td{border-right:0px; border-bottom:0px; text-align: center; font-size: 12px!important;}
.doc_table{width: 100%;}
.doc_table tr td:first-child{width: 150px;}
.doc_table tr td{ font-size: 12px!important}

/* 견적서 및 수주확인서 */

.cost_table_tr{background-color: #efefef; font-weight: bold;}

.estimate_top{background: #efefef; width: 100%; padding: 20px;}
.estimate_top p{font-weight: bold; font-size: 30px; float:left; line-height: 65px; margin-bottom: 0px;}
.estimate_top img{float:right;}
.estimate_content{width:100%; margin-top:20px}
.estimate_top::after,
.estimate_content::after{content: ""; display: block; clear: both;}

.estimate_info{border:thin solid rgba(0, 0, 0, 0.12); padding: 2px 15px; font-size: 11px!important; border-left: 0px; height: 25px!important; line-height: 19px!important;}
.estimate_title{background-color: #efefef; font-weight: bold;text-align:center;width: 94px;}
.estimate_price_info{border-top:3px solid #b6b6b6; border-bottom:3px solid #b6b6b6;  padding: 2px 15px 5px!important; font-size: 16px; border-left: 0px;}
.estimate_price_title{background-color: #efefef; font-weight: bold; text-align:center}

.order_doc_top{margin-bottom:10px}
.order_doc_top::after{content: ""; display: block; clear: both;}
.order_info{border:thin solid rgba(0, 0, 0, 0.12); padding: 2px 10px; font-size: 10px; border-left: 0px; text-overflow: ellipsis;white-space: normal;
  word-wrap: break-word;
  word-break: break-all;}
.order_title{background-color: #efefef; font-weight: bold;width:94px;text-align: center;}

.print_doc_title{font-weight: bold;font-size: 25px; text-align: center; padding-bottom: 30px; margin-bottom: 30px!important; color: black;border-bottom:1px solid #ccc};
@media print{
  .dont_print{display: none;}
}